.logo_img {
  padding: 0;
}

.header-logo {
  max-height: 50px;
  padding: 2px 0 2px 0;
}

.logo-h1 {
    max-height: 50px;
    font-size: 20px;
    font-family: 'Roboto Slab', san-serif;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2px;
}

.logo-h1 a {
    color: #fff;
}
.logo-h1 a:active, .logo-h1 a:visited, a:link {
    text-decoration: none;
}

.team-item-desc {
    padding: 10px 15px 0 15px;
    margin-bottom: -20px;
    text-align: justify;
}

.table-1 {
    min-height: 868px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.order-button button {
    position: absolute;
    bottom: 0px;
    left: 25%;
}

/*Services Menu*/
.panel-title a {
  font-size: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
}



