@import 'const';

.badge-menu{
  background-color: #3926c3;
}

.side_bar_heading {
  h5 {
    margin: -25px 0 20px 0;
  }
}

.other-services-block {
  margin-top: -20px;
}

//Cart styles
.cart-item-image {
  max-width: 100px !important;
}

.cart-block {
  padding-left: 15px;
  
  .checkout-block {
    //padding-top: 60px;
    
    .checkout-block-icon {
      font-size: 40px;
      margin-right: 15px;
    }
  }
  
  .checkout-instruction {
    li {
      list-style: none !important;
      margin-bottom: 15px;
    }
  }
}

.sidebar_wrap {
  .edit-cart {
    color: #333;
    border-bottom: 1px dashed #333;
    padding-bottom: 2px;
    font-size: 13px;
  }
  
  .cart-mini-items {
    margin: -15px 0 10px 0;
    padding: 0;
    
    li {
      list-style: none;
      padding-bottom: 8px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      
      a {
        color: #333;
      }
    }
  }
  
  .cart-mini-subtotal {
    font-size: 14px;
  }
  
  .cart-user-info {
    @extend .cart-mini-subtotal;
    list-style: none;
    padding: 0;
  }
}

//Pricing table
.pricing-table-link {
  color: #333;
  
  &:hover {
    color: #333;
  }
}

.section_sub_btn {
  .btn.btn-default {
    border-radius: 0;
  }
}

//Profile
.profile-block {
  padding-top: 80px !important;
  
  .profile-form {
    border-right: 3px solid $mainBorder !important;
    min-height: 200px !important;
  }
}

//Bootstrap help text redefine
//.help-block {
//  background-color: #002a80;
//}

// Auth forms
.auth-form {
  margin-top: 80px;
  
  .panel-heading {
    padding-left: 15px;
  }
}